.header {
  position: fixed;
  right: 2em;
  top: 2rem;
  z-index: 9999;
  backface-visibility: hidden;

  .langButton {
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background: white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: 1px solid #e7e7e7;
    opacity: .6;

    &.active {
      opacity: 1;
    }

    @media (hover: hover) {
      &:hover:not(.active) {
        transform: scale(1.2);
        opacity: 1;
      }
    }

    .flag {
      font-size: 2em;
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 1;
      width: 1em;
      display: block;
      height: 0.9em;

      &.windows {
        line-height: 0.8;
      }
    }
  }
}
