.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;

  .langButton {
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background: white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: 1px solid #cbcbcb;

    &.active {
      background-color: #ccd9ad;
    }

    @media (hover: hover) {
      &:hover:not(.active) {
        transform: scale(1.2);
      }
    }

    .flag {
      font-size: 2em;
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 1;
      width: 1em;
      display: block;
      height: 0.9em;
    }
  }
}
