.app {
  width: 100%;
  height: 100%;

  .invitationSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

    .happyImg {
      max-width: 44em;
    }
  }

  .banner {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #ff6858;
    text-align: center;
  }
}
