.app {
  width: 100%;
  height: 100%;
  overflow: scroll;

  .invitationSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

    .happyImg {
      max-width: 44em;
    }
  }
}
